.is-category{
    height: 75vh !important;
    background-image: $nightBlue;
}
.category-card-columns{
    .card{
        p{
            font-size: 15px;
        }
        .tags{
            a { 
                font-size: 14px;
                background-image: $white;
                padding: 5px 8px;
                color: #000;
                text-decoration: none;
                border-radius: 2px;
                transition: 0.2s all;
                display: none;
                position: absolute;
                top: 10px;
                right: 10px;
                box-shadow: $shadow-2;
        }   
    }
    &:hover{
        .tags{
            a { 
                display: block;
            }
        }
    }
    }
}