.navbar-dark  {
    .navbar-brand{
        img{
            position: relative;
            width: 50px;
            top: -6px;
        }
    }
    .navbar-nav{
        .nav-item{
            position: relative;
            text-align:center;
            padding: 0 5px;
            color: #005bea;
            &:after{
                content: '';
                display: block;
                left:0;
                position: absolute;
                bottom: 0;
                height: 1px;
                margin: auto;
                background: #f0b708;
                width: 0;
                z-index: 4;
                transition: 0.2s ease-in-out;
            }
            &:hover{
                &:after{
                    width: 100%;
                    left: 0;
                }
            }
        }
        .nav-link{
            color: #fff;
            text-align: center;
            font-size: 15px;
            &:hover,
            &:focus{
                color : #fdc92b;
            }

        }
    }
}
@media(max-width: $break-md){
    .navbar-dark{
        .navbar-toggler{
            border: none;
            position: relative;
            font-size: 14px;
            padding: 0;
            top: -6px;
            .navbar-toggler-icon{
                color: #efefef;
            }
        }
        .navbar-nav{
            background-image: $white;
            border-radius: 5px;
            box-shadow: $shadow-2; 
            .nav-item{
                &:after{
                    display: none;
                }
                .nav-link{
                    color: #444;
                    &:hover{
                        color: #00c6fb;
                    }
                }
            }
                    
            .dropdown-menu{
                padding: 0 0 8px 0;
                border: none;
                width: 100%;
                box-shadow: $shadow-0;
                .nav-item{
                    background: #fff;
                    .nav-link{
                        padding: 10px;
                        color: #444 !important;
                        text-align: center !important;
                        &:hover{
                            color: #00c6fb !important;
                        }
                    }
                }
            }
        }
    }
}
.dropdown{
    &:hover{
        &:after{
            display: none !important;
        }
    }
    .dropdown-menu{
        padding: 0 0 8px 0;
        border: none;
        width: 220px;
        box-shadow: $shadow-2;
        background-color: white;
        &:before{
            content: '';
            display: block;
            position: relative;
            width: 10px;
            height: 10px;
            background: transparent;
            top: -10px;
            left: 10px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fff;
        }
        .nav-item{
            &:after{
                height:100%;
                z-index: -1;
            }
            &:hover:after{
                width: 100%;
            }
            .nav-link{
                text-align: left !important;
                padding: 10px;
                color: #222 !important;
                transition: 0.2s ease;
                &:hover{
                    color: #0e0e70 !important;
                    font-weight: 600;
                }
            }
        }
    }
}
