<footer class="footer py-5 px-0 footer-grey">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h5 class="title mb-3">SoftVenue</h5>
                    <ul id="menu-softvenue" class="">
                        <li id="menu-item-26"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                            <a href="about/" class="">Qui sommes-nous?</a></li>
                        <li id="menu-item-27"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27">
                            <a href="#" class="">Partenaires</a></li>
                        <li id="menu-item-28"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28">
                            <a href="#" class="">Evenements</a></li>
                        <li id="menu-item-30"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30">
                            <a href="#" class="">Center d’aide</a></li>
                    </ul>
                </div>
                <div class="col-md">
                    <h5 class="title mb-3">Services et solutions</h5>
                    <ul id="menu-services-et-solutions" class="">
                        <li id="menu-item-33"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-33">
                            <a href="#" class="">Docs</a></li>
                        <li id="menu-item-31"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31">
                            <a href="#" class="">Open Source</a></li>
                        <li id="menu-item-32"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-32">
                            <a href="#" class="">API</a></li>
                    </ul>
                </div>
                <div class="col-md">
                    <h5 class="title mb-3">Formations</h5>
                    <ul id="menu-formations" class="">
                        <li id="menu-item-37"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-37">
                            <a href="#" class="">Entreprises</a></li>
                        <li id="menu-item-34"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-34">
                            <a href="#" class="">Recipes</a></li>
                        <li id="menu-item-35"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-35">
                            <a href="#" class="">Resources</a></li>
                        <li id="menu-item-36"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-36">
                            <a href="#" class="">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 offset-md-4 text-center">
                    <img class="footer-logo" src="assets/img/logo-blue.png" alt="SoftVenue">
                    <h3>SoftVenue</h3>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-sm-12 col-md-8 offset-md-2 text-center">
                    <h5 class="title bottom-menu-title">Suivez-nous: </h5>
                    <ul id="menu-suivez-nous" class="horizontal-menu">
                        <li id="menu-item-38"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-38">
                            <a href="https://www.facebook.com/SoftVenue" class=""><span class="fab fa-facebook"></span>
                                Facebook</a></li>
                        <li id="menu-item-40"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40">
                            <a href="https://www.linkedin.com/company/softvenue-dz/" class=""><span
                                    class="fab fa-linkedin"></span> LinkedIn</a></li>
                        <li id="menu-item-39"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39">
                            <a href="https://github.com/softvenue/" class=""><span class="fab fa-github"></span>
                                GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>