<html lang="en">

<head>
    {% include head.html %}
    <title> {{ page.title}} - SoftVenue</title>
</head>

<body>
    <div class="banner is-main" id="hero" style="height: 100vh;">
        <nav class="navbar navbar-expand-md navbar-dark bg-transparent">
            <div class="container">
                <a href="#" class="navbar-brand">
                    <h2>
                        <img src="assets/img/logo-white.png" alt="SoftVenue">
                        SoftVenue
                    </h2>
                </a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar"
                    aria-controls="mainNavbar" aria-label="Menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="mainNavbar" class="collapse navbar-collapse">
                    <ul id="menu-navbar" class="navbar-nav ml-auto">
                        {% include nav.html %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="banner-content">
            <div class="container pt-3">
                <div class="row">
                    <div class="col-sm-12 col-md-6 pt-5">
                        <br><br>
                        <h1 class="main-message">Des solutions techniques pour plus de productivité</h1>
                        <p class="main-description text-white py-3">Logiciels de haute qualité à prix minimal.</p>
                        <a href="#" class="btn btn-lg btn-outline-light"><span>Demande de devis</span></a>
                    </div>
                    <div class="col-md-6 d-none d-md-block">
                        <div class="d-md-block d-lg-none">
                            <br>
                            <br>
                        </div>
                        <img src="./assets/img/banner.svg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <canvas class="particles-js-canvas-el" width="1349" height="307" style="width: 100%; height: 100%;"></canvas>
    </div>

    {{ content }}
    {% include footer.html %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js">
    </script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/ScrollToPlugin.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js">
    </script>
    <script type="text/javascript" src="./assets/js/main.js"></script>
</body>

</html>